<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">
                Users
            </h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="<%= siteURL %>dashboard">Home</a></li>
                    <li class="breadcrumb-item active">User</li>
                </ol>
            </div>
        </div>
    </div>
    <%- include('../common/flashMessage.ejs') %>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="users" class="table table-striped table-bordered contact-list" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Profile Photo</th>
                                        <th>Nick Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Login Type</th>
                                        <th>Social Media ID</th>
                                        <th>Status</th>
                                        <th>Created At</th>
                                        <th>View Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.result.forEach(function (userDetails) { %>
                                        <tr>
                                            <td>
                                                <%= userDetails.first_name %>
                                                    <%= userDetails.last_name %>
                                            </td>
                                            <td>
                                                <img src="<%=userDetails.profile_photo_path %>" width="50px"
                                                    class="img-circle" />
                                            </td>
                                            <td>
                                                <p class="text-center">
                                                    <% if(userDetails.nick_name){ %>
                                                        <%= userDetails.nick_name %>
                                                            <% } else { %>-<% } %>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="text-center">
                                                    <% if(userDetails.phone){ %>
                                                        <%= userDetails.phone %>
                                                            <% } else { %>-<% } %>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="text-center">
                                                    <% if(userDetails.email){ %>
                                                        <%= userDetails.email %>
                                                            <% } else { %>-<% } %>
                                                </p>
                                            </td>
                                            <td>
                                                <% if (userDetails.login_type===1) { %>
                                                    <span class="label label-success">Normal</span>
                                                    <% } else if (userDetails.login_type===2) { %>
                                                        <span class="label label-info">Google</span>
                                                        <% } else if (userDetails.login_type===3) { %>
                                                            <span class="label label-primary">Facebook</span>
                                                            <% }else { %>
                                                                <span class="label label-warning">Apple</span>
                                                                <% } %>
                                            </td>
                                            <td>
                                                <p class="text-center">
                                                    <% if(userDetails.social_media_id){ %>
                                                        <%= userDetails.social_media_id %>
                                                            <% } else { %>-<% } %>
                                                </p>
                                            </td>
                                            <td>
                                                <% if(userDetails.status===1){ %>
                                                    <span class="label label-success">Active</span>
                                                    <% } else { %>
                                                        <span class="label label-danger">In Active</span>
                                                        <% } %>
                                            </td>
                                            <td>
                                                <p class="text-center">
                                                    <% if(userDetails.createdAt){ %>
                                                        <%= Helper.dateFormatWithTime(userDetails.createdAt) %>
                                                            <% } else { %>-<% } %>
                                                </p>
                                            </td>
                                            <td class="box-label text-center"><a href="javascript:void(0)"
                                                    data-toggle="modal" data-target="#myModal"
                                                    onclick="get_address('<%=userDetails.id %>')"
                                                    class="btn btn-sm btn-dark">View</a>
                                                <textarea id="modelAddress_<%=userDetails.id %>"
                                                    class="d-none"><%= JSON.stringify(userDetails.Address) %></textarea>
                                            </td>
                                        </tr>
                                        <%}); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div id="address_modal" class="modal show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Addresses</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body detail_part">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function get_address(id) {
        var data = $("#modelAddress_" + id).val();
        if (data != 'null') {
            data = JSON.parse(data);
            $(".detail_part").html('<div class="card-body">' +
                '<div class="row">' +
                '<div class="col-md-12"> <strong>Your Job: </strong>' +
                '<br>' +
                '<p class="text-muted">' + `${data && data.your_job}` + '</p>' +
                '</div>' +
                '<div class="col-md-12"> <strong>Apt/Suite: </strong>' +
                '<br>' +
                '<p class="text-muted">' + `${data && data.apt_suite}` + '</p>' +
                '</div>' +
                '<div class="col-md-12"> <strong>Street Address: </strong>' +
                '<br>' +
                '<p class="text-muted">' + `${data && data.street_address}` + '</p>' +
                '</div>' +
                '<div class="col-md-12"> <strong>City: </strong>' +
                '<br>' +
                '<p class="text-muted">' + `${data && data.city}` + '</p>' +
                '</div>' +
                '<div class="col-md-12"> <strong>Country: </strong>' +
                '<br>' +
                '<p class="text-muted">' + `${data && data.country}` + '</p>' +
                '</div>' +
                '<div class="col-md-12"> <strong>Latitude: </strong>' +
                '<br>' +
                '<p class="text-muted">' + `${data && data.latitude}` + '</p>' +
                '</div>' +
                '<div class="col-md-12"> <strong>Longitute: </strong>' +
                '<br>' +
                '<p class="text-muted">' + `${data && data.longitute}` + '</p>' +
                '</div>' +
                '</div>' +
                '</div>');
        } else {
            $(".detail_part").html('<div class="card-body">' +
                '<div class="row">' +
                '<div class="col-md-12"> <strong> Address Not available! </strong>' +
                '</div>');
        }
        $("#address_modal").modal('show');
    }

    $('#users').DataTable();
</script>