<!DOCTYPE html>
<html lang="en">
<style>
  .error {
    color: red;
  }

  .spinner-border-sm {
    margin-bottom: 4px !important;
  }
</style>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" type="image/png" sizes="16x16" href="../../public/images/favicon.png" />
  <!-- page css -->
  <link href="../../public/dist/css/pages/login-register-lock.css" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="../../public/dist/css/style.min.css" rel="stylesheet" />
  <!-- toast CSS -->
  <link href="../../public/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet" />
</head>

<body class="skin-default card-no-border">
  <div class="login-register" style="
        background-image: url(../../public/images/background/login-register.jpg);
      ">
    <div class="login-box card">
      <section id="wrapper">
        <%- include('../common/flashMessage.ejs') %>
          <div class="alert alert-success alert-dismissable col-sm-12" id="auth-success-alert" style="display: none">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong class="auth-success-message">
              Something went wrong!
            </strong>
          </div>
          <div class="alert alert-danger col-sm-12" id="auth-error-alert" style="display: none">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong class="auth-error-message"> Something went wrong! </strong>
          </div>
          <div class="card-body">
            <form class="form-horizontal form-material" id="resetform" action="<%= siteURL %>reset_password_confirm"
              method="POST" autocomplete="off">
              <div class="form-group">
                <div class="col-xs-12">
                  <h3>Reset Password</h3>
                  <p class="text-muted">Enter OTP and New password.</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <input class="form-control" type="text" name="otp" placeholder="Enter OTP" value=""/>
                </div>
                <input class="form-control" type="hidden" id="token" name="token" value="<%= token %>" />
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <input class="form-control" id="password" type="password" name="password"
                    placeholder="New Password" value=""/>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <input class="form-control" id="confirm_password" type="password" name="confirm_password"
                    placeholder="Confirm Password" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="d-flex no-block align-items-center">
                    <div class="ml-auto">
                      <button type="button" id="reset-otp-btn" class="btn btn-default text-danger">
                         Resend OTP?
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                  <button class="
                      btn btn-primary btn-lg btn-block
                      text-uppercase
                      waves-effect waves-light
                    " type="submit" id="reset-password-btn">
                    Reset
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="d-flex no-block align-items-center">
                    <div class="ml-auto">
                      <a href="<%= siteURL %>login" id="to-login" class="text-muted"><i class="fas fa-back m-r-5"></i>
                        Back to Login</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </section>
    </div>
  </div>
  <script src="../../public/node_modules/jquery/jquery-3.2.1.min.js"></script>
  <script src="../../public/node_modules/popper/popper.min.js"></script>
  <script src="../../public/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../public/node_modules/toast-master/js/jquery.toast.js"></script>
  <script src="../../public/dist/js/pages/toastr.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
    integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    $(function () {
      $("#resetform").validate({
        rules: {
          otp: {
            required: true,
          },
          password: {
            required: true,
            minlength: 6,
          },
          confirm_password: {
            equalTo: "#password",
            required: true,
          },
        },
      });
    });
    $(document).on('click', '#reset-password-btn', function () {
      if ($('#resetform').valid()) {
        $('#reset-password-btn').prop('disabled', true);
        $('#reset-password-btn').text('Loading...');
        $('#resetform').submit();
      }
    })
    function showNotify(message = "Something went wrong!", status) {
      $.toast({
        heading: status == "error" ? "Oops, error" : "success",
        text: message,
        position: "top-right",
        loaderBg: "#ff6849",
        icon: status,
        hideAfter: 8000,
        stack: 6,
      });
    }
    $("#reset-otp-btn").on("click", function () {
      let token = $("#token").val();
      $.ajax({
        url: "<%= siteURL %>resend_otp",
        type: "POST",
        data: { token },
        beforeSend: function () {
          $("#reset-otp-btn").addClass("disabled");
          $("#reset-otp-btn").text("Sending...");
        },
        complete: function () {
          $("#reset-otp-btn").removeClass("disabled");
          $("#reset-otp-btn").text("Reset");
        },
        success: function (data) {
          if (data.status) {
            $("#auth-success-alert").show();
            $(".auth-success-message").text(data.data);
          } else {
            $("#auth-error-alert").show();
            $(".auth-error-message").text(data.message);
          }
        },
        error: function (params) {
          $("#auth-error-alert").show();
          $(".auth-error-message").text(data.message);
        },
      });
    });
  </script>
</body>

</html>